.header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.59) -24.84%, rgba(0, 0, 0, 0) 70.78%);
}
.header:hover{
    background: var(--primary-color);
    transition: all 0.4s linear;
}
.header.active, .header.block{
    background: var(--primary-color);
    animation: scrollHeader 0.5s linear;
}
.header_top{
    height: 56px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.clear-header{
    height: 140px;
}
.link-logo img{
    width: 134px;
}

.header_bottom{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hotline{
    position: absolute;
    top: -20px;
    left: 20px;
}
.hotline a{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}
.hotline a svg{
    margin-right: 2px;
    transform: rotate(-35deg);
    /* animation: zoomIn 3s ease-in-out infinite; */
}

.menu_nav{

}
.menu_nav-list{
    height: 40px;
    display: flex;
    align-items: center;
}
.menu_nav-item{
    display: block;
    font-size: 14px;
    color: #fff;
    margin: 0 20px;
    text-transform: uppercase;
    /* font-family: 'Roboto Condensed', sans-serif; */
    position: relative;
}
.menu_nav-item:hover{
    color: #fff;
}
.menu_nav-item::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: #eee;
    /* animation: fadeTopOut 0.4s linear; */
}   
.menu_nav-item::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #eee;
    /* animation: fadeBottomOut 0.4s linear; */
}   
.menu_nav-item::before,.menu_nav-item::after{
    display: none;
}
/* .menu_nav-item:hover::before{
    display: block;
    animation: fadeTop 0.4s linear;
}

.menu_nav-item:hover::after{
    display: block;
    animation: fadeBottom 0.4s linear;
}
.menu_nav-item.active::before{
    display: block;
    animation: fadeTop 0.4s linear;
}
.menu_nav-item.active::after{
    display: block;
    animation: fadeBottom 0.4s linear;
} */



/* Banner */
.box-banner{
    /* position: relative; */
    /* height: 540px; */
}
.banner{
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.05);
}



/* introduce */

.main-body{
    position: relative;
}
.introduce{
    background: rgba(0, 0, 0, 0.05);
}
.introduce_body{
    padding: 50px 0;
}
.introduce_title{
    text-align: center;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
}
.introduce_title p{
    margin-bottom: 0;
}
.introduce_content{
    color: var(--primary-color);
    line-height: 1.8;
    margin-top: 4px;
    text-align: center;
    font-family: "utm-caviar";
}

/* Main */
.main-content{
    background: rgba(0, 0, 0, 0.05);
}
.slider_product {
}
.slider_product-img{
    width: 320px;
}

.slider_product .item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider_product .title{
    margin-top: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "utm-caviar";
}

.slider_product .desc{
    font-size: 18px;
    text-transform: uppercase;
    margin: 4px 0;
    font-family: "utm-caviar";
}
.slider_product .store{
    text-transform: uppercase;
    font-weight: 300;
    font-family: "utm-caviar";
    font-size: 15px;
}
.dots{
    margin: 8px auto;
    width: 80px;
    height: 1px;
    background: #000;
}

.btn-discover{
    display: inline-block;
    text-transform: uppercase;
    /* font-family: "utm-alexander"; */
    padding: 6px 50px;
    background: var(--primary-color);
    color: #fff;
    margin-top: 10px;
    transition: all 0.4s linear;
    border: 1px solid var(--primary-color);
}
.btn-discover h5{
    font-size: 15px;
}
.btn-discover:hover{
    background: transparent;
    color: #000;
}

.gallery-list{
    /* width: 762px; */
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.img-top{
    display: flex;
}
.img-top img,.img-bottom img{
    height: 100%;
}
.img_w{
    /* width: 762px; */
    width: 100%;
    position: relative;
    top: -1px;
}
.img_w-1{
    /* width: 238px;
    height: 352px; */
    width: 32%;
}
.img_w-2{
    /* width: 528px;
    height: 352px; */
    width: 68%;
    position: relative;
    left: -1px;
}
.img_w-3{
    /* width: 528px; */
    width: 68%;
}
.img_w-4{
    /* width: 238px; */
    width: 32%;
    position: relative;
    left: -1px;
}
.img-bottom{
    display: flex;
    position: relative;
    top: -2px;
}
.img-middle{
    position: relative;
    padding-right: 1px;
}
.gallery-content{
    text-align: center;
    padding: 20px;
}
.gallery-content .title{
    text-transform: uppercase;
    font-family: "utm-caviar";
}

.gallery-content .desc{
    text-transform: uppercase;
    margin: 4px;
    font-family: "utm-caviar";
}

.stories{
    padding: 60px 0 40px;
    text-align: center;
}
.stories .dots{
    text-align: center;
}

.stories-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-family: "utm-caviar";
    position: relative;
    display: inline-block;
}
.stories-title::after{
    content: "";
    position: absolute;
    border-top: 1px solid #999;
    bottom: -12px;
    width: 92%;
    left: 4%;

}

.stories-item .desc{
    padding: 10px 16px;
    text-align: center;
    font-family: "utm-caviar";

}

.stories-item .image{
    text-align: center;
}
.stories-item .image img{
    width: 275.98px;
    height: 195.94px;
}


.footer{
    position: relative;
    background: var(--primary-color);
    padding: 40px 0;
}

.container-ft{
    width: 1040px;
    max-width: 1040px;
}

.contact-ft .logo img{
    width: 150px;
}
.contact-ft{
    position: relative;
    top: -5px;
    padding-right: 4px;
}

.contact-title{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    margin: 4px 0;
    padding-top: 4px;
}
.contact-list li{
    font-size: 12px;
    color: #fff;
    padding: 2px 0;
    font-weight: 300;
    font-family: "utm-caviar";
}

.ft-title{
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.support ul{
    margin-top: 4px;
}
.support ul li a{
    text-transform: uppercase;
    font-family: "utm-caviar";
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    margin: 6px 0;
    display: inline-block;
    border-bottom: 1px solid transparent;
}
.support ul li a:hover{
    color: #ddd;
    /* border-bottom: 1px solid #ddd; */
}

.advise{
    padding:  0 10px;
}
.advise-txt{
    color: #fff;
    font-weight: 300;
    margin-top: 6px;
    font-size: 12px;
    font-family: "utm-caviar";
}

.advise-form{
    margin-top: 10px;
}
.advise-form form{
    display: flex;
    /* justify-content: center; */
}
.advise-input{
    height: 36px;
    width: 160px;
    padding: 0 10px;
    font-family: "utm-caviar";
}
.advise-input::placeholder{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "utm-caviar";
}
.advise-submit{
    position: relative;
    top: -1px;
    left: -1px;
    padding: 7px 11px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.advise-submit:hover{
    background: #333;
}
.cnt-top{
    display: flex;
    /* justify-content: center; */
    margin-top: 10px;
}
.cnt-top-left{
    height: 60px;
    width: 30%;
    padding-right: 4px;
}
.cnt-top-right{
    padding-left: 4px;
    height: 60px;
    width: 70%;
}
.cnt-top img:first-child{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 8px;
}
.cnt-top img{
    width: 224px;
    height: 70px;
    object-fit: cover;
}

.cnt-bottom{
    padding-top: 8px;
}

.copyright{
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    font-size: 14px;
    color: var(--primary-color);
    padding: 10px;
    font-family: "utm-caviar";
}


.slide-arrow{
    position: absolute;
    top: 46%;
    margin-top: -15px;
}
.prev-arrow{
    left: 20px;
    z-index: 20;
    background: transparent;
    font-size: 40px;
    color: #fff;
    opacity: 0.6;
}
.next-arrow{
    right: 20px;
    z-index: 20;
    background: transparent;
    font-size: 40px;
    color: #fff;
    opacity: 0.6;
}
.prev-arrow:hover, .next-arrow:hover{
    opacity: 1;
}

.slider_product .prev-arrow, .slider_product .next-arrow{
    color: #333;
    font-size: 30px;
    z-index: 8;
}



/* Page what's new */

.whatnew-title{
    text-align: start;
    text-transform: capitalize;
}

.whatsnew-desc{
    color: #000;
    text-align: start;
    font-family: "utm-caviar";

}

.btn-whatsnew{
    display: inline-block;
}
.btn-whatsnew a{
    font-family: monospace;
    color: var(--primary-color);
    font-weight: 600;
}
.btn-whatsnew a:hover{
    color: #1917a0;
}

.grid-wrapper .img{
    position: relative;
    overflow: hidden;
    background: #fff;
}
.grid-wrapper .img img{
    width: 100%;
    height: 100%;
    /* object-fit: fill; */
}
.grid-wrapper{
    display: block;
    padding: 40px 0;
}

.grid-wrapper-1 .img:first-child{
    grid-column-start: span 3;
}

.grid-wrapper-2 .img:first-child{
    grid-column-start: span 2;
    grid-row-start: span 3;
}
.grid-wrapper-3 .img:nth-child(1){
    grid-row-start: span 2;
    height: 500px;
}
.grid-wrapper-3 .img:nth-child(3){
    grid-row-start: span 2;
    height: 500px;
}
.grid-wrapper-3 .img:nth-child(2), .grid-wrapper-3 .img:nth-child(4){
    height: 250px;
}
.resize-img-1{
    grid-row-start: span 2 !important;
}
.whatsnew-body{
    padding-top: 0;
}



.breadcrumb-2{
    background: rgba(0, 0, 0, 0.05);
}
.breadcrumb-2 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    font-family: monospace;
}
.breadcrumb_left ul{
    display: flex
}
.breadcrumb_left ul li{
    margin: 10px;
    position: relative;
    font-family: "utm-caviar";
}
.breadcrumb_left ul li::after{
    content: "/";
    position: absolute;
    top: 1px;
    right: -13px;
    font-size: 14px;
    color: #999;
}
.breadcrumb_left ul li:last-child::after{
    display: none;
}
.breadcrumb_right ul{
    display: flex;
}
.filter-btn{
    padding: 6px;
    display: block;
    cursor: pointer;
    font-family: "utm-caviar";
    opacity: 0.7;

}
.filter-btn.active, .filter-btn:hover{
    opacity: 1;
}


.collection .row .col-6{
    padding: 0;
    border-bottom: 3px solid #fff;
}
.collection .row .col-6:nth-child(odd){
    border-right: 2px solid #fff;
    padding-right: 0;
    /* margin-top: 1px; */
}
.collection .row .col-6:nth-child(even){
    border-left: 1px solid #fff;
    padding-left: 0;
}
.collection_item{
    background: rgba(0, 0, 0, 0.05);
    padding: 44px 54px;
    height: 100%;
}
.collection_item:hover{
    background: #fff;
    transition: all 0.5s ease-in;
    box-shadow: 0 0 3px #ccc;
}
.collection_item a:hover{
    color: var(--primary-color);
}
.collection_item-img{
    text-align: center;
}
.collection_item-body{
    margin-top: 20px;
}
.collection_item-body .title{
    font-size: 22px;
}
.collection_item-body .desc{
    font-size: 22px;
    font-family: "utm-caviar";
}
.collection_item-body .price{
    font-size: 22px;
    margin-top: 10px;
    font-family: "utm-caviar";
}
.collection .col-md-6{
    padding: 2px;
}

.box-collection-btn{
    display: block;
}
.collection_view-more{
    text-align: center;
    cursor: pointer;
    padding: 14px 0;
    background: rgba(0, 0, 0, 0.05);
    text-transform: capitalize;
    display: block;
    margin: 0 -12px;
}
.collection_view-default{
    pointer-events: none;
    text-align: center;
    padding: 14px 0;
    background: rgba(0, 0, 0, 0.05);
    text-transform: capitalize;
    display: block;
    margin: 0 -12px;
    color: #ccc;
}
.collection_view-more:hover{
    color: var(--primary-color);
}

.pd_details{
    margin-top: 140px;
}
.bg-details{
    background: rgba(0, 0, 0, 0.05);
    padding-bottom: 80px;
}

.pd_details-desc{
    padding: 40px 60px;
    padding-left: 10px;
}

.pd_details-desc h4{
    color: var(--primary-color);
    font-weight: bold;
    text-transform: capitalize;
}

.pd_details-desc .text{
    font-family: 'utm-caviar';
    margin: 10px 0;
}
.pd_details-desc .desc{
    /* font-weight: 600; */
    font-style: italic;
    color: #666;
    padding-top: 10px;
}
.pd_details-desc .price span{
    font-weight: bold;
}

.pd_details-title{
    text-align: center;
    border-bottom: 1px dashed #ccc;
    font-style: italic;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}
.pd_details-img p{
    text-align: center;
    margin-top: 10px;
    padding: 10px ;
    font-style: italic;
}

.style-logo{
    font-weight: bold;
    font-family: cursive;
    color: var(--primary-color);
    letter-spacing: 2px;
    font-size: 20px;
}


/* Page Dịch vụ */
.service{
    padding: 24px;
}
.service_item{
    padding-bottom: 50px;
}
.service_item-image{

}
.service_item-title{
    font-size: 22px;
    text-transform: uppercase;
}
.service_item-desc{
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    font-family: "utm-caviar";
}

.btn_contact-us{
    padding: 10px 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn_contact-us:hover{
    color: #fff;
    background: var(--primary-color);
    transition: all 0.4s linear;
}



/* Mobile */
.breadcrumb-mobile ul li span{
    font-family: "utm-caviar";
}
.nav_mobile{
    position: absolute;
    top: 16px;
    left: 20px;
    display: none;
}
.nav_mobile.active{
    display: block;
}
.nav_mobile .btn_show-menu{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
}
.btn_show-menu span{
    font-family: "utm-caviar";
}
.nav_mobile svg{
    margin-right: 4px;
}
.nav_mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(255, 255, 255, 0.96);
    z-index: 9999;
    display: none;
    animation: showMenu 0.2s ease-in;
}
.nav_mobile-menu.active{
    display: block;
}
.close-nav_mobile{
    position: absolute;
    top: 12px;
    right: 16px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 18px;
}
.nav_mobile-menu li:first-child{
    margin-top: 60px;
}
.nav_mobile-item{
    display: flex;
    justify-content: center;
    font-size: 22px;
    /* font-weight: bold; */
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 16px 50px;
}
.nav_mobile-item:hover{
    color: var(--primary-color);
}

.phone-mobile{
    display: block;
    background: var(--primary-color);
    color: #fff;
    font-family: "utm-caviar";
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
.phone-mobile:hover{
    color: #fff;
}
.phone-mobile svg{
    transform: rotate(-35deg);
}

.box-search{
    position: absolute;
    top: 35px;
    right: 20px;
}

.box-search input{
    height: 30px;
    width: 180px;
    border-radius: 4px;
    padding-left: 14px;
    padding-right: 30px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    animation: fadeRight 0.5s linear;
    display: none;
}
.box-search.active input{
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
}
.box-search input::placeholder{
    font-size: 14px;
    font-weight: 300;
    color: #eee;
}
.btn-search{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    right: 0;
    background: transparent;
    color: #eee;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: none;
}
.btn-search-close{
    padding: 0 10px;
    background: transparent;
    color: #ccc !important;
    cursor: pointer;
    font-size: 18px !important;
    margin-right: 4px;
}
.btn-search.active, .btn-search-close.active{
    display: inline;
}

.dropdown-style{
    margin-top: 10px;
    margin-left: 50px;
}
.dropdown-btn{
    background: #fff;
    padding: 10px 20px;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.dropdown-menu-style{
    width: 170px;
    box-shadow: 0 -5px 10px #eee;
    border-radius: 10px;
    padding: 0;
}
.dropdown-menu-style li:first-child{
    margin-top: 0;
}
.dropdown-item-style{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #777;
    padding: 10px 0;
}


/* About us */
.about-body{
    padding: 60px 0;
}
.contact-left, .contact-right{
    padding: 40px 20px;
    border-top: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    min-height: 680px;
}
.contact-left-list li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact-left-list .contact-icon{
    font-size: 22px;
    color: var(--primary-color);
    float: left;
    width: 44px;
    height: 44px;
    background: #fbe7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact-left-list li:hover .contact-icon{
    background: var(--primary-color);
    color: #fff;
}
.contact-item{
   padding-left: 10px;
}
.contact-item h4{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: #1917a0;
}
.contact-item p{
    margin-top: 4px;
    margin-bottom: 0;
    color: #444;
    letter-spacing: 1px;
}

.contact-map{
    margin-top: 20px;
}
.contact-map iframe{
    width: 100%;
}

.contact-style{
    font-family: system-ui;
    font-size: 16px;
    line-height: 2;
}
.contact-style svg{
    font-size: 12px;
}

.form-contact{
    /* padding-top: 20px; */
}
.style-label{
    font-family: system-ui;
    font-size: 16px;
}

.style-input{
    background: transparent;
    font-family: system-ui;
}
.style-input:focus{
    background: transparent;
    outline: none;
    border-color: #999;
    box-shadow: none;
}

.form-group{
    margin-bottom: 10px;
}

.btn-style{
    padding: 6px 40px;
    width: 200px;
    background: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.btn-style:hover{
    opacity: 0.9;
    color: #fff;
    transition: all 0.4s linear;
}

.ct-right-title{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: #1917a0;
    margin-bottom: 20px;
}

.intro_about-left{
    padding-right: 30px;
    position: relative;
}
.intro_about-left h2{
    text-transform: capitalize;
    font-size: 24px;
}
.intro_about-left h5{
    font-weight: 300;
    color: #666;
    margin: 30px 0;
    line-height: 30px;
    font-size: 18px;
    text-align: justify;
}
.intro_about-left p{
    font-size: 18px;
    line-height: 34px;
    padding-right: 20px;
    text-align: justify;
    font-family: "utm-caviar";

}

.intro_about-right img{
    max-height: 450px;
}
.about-text{
    font-size: 18px;
    line-height: 34px;
    padding: 20px;
    padding-left: 0;
    word-spacing: 5px;
    text-align: justify;
    font-family: "utm-caviar";
}

.about-title{
    text-transform: capitalize;
    font-size: 24px;
    font-family: monospace;
    margin-top: 20px;
    font-weight: 600;
}



.pd_details-img{
    display: block;
    margin-top: 40px;
}
.pd_details-img .image{
    margin:  0 10px;
    padding-bottom: 30px;
}
.pd_details-img img{
    /* width: auto; */
}

.show-content{
    display: none;
}



/* Pages Footer */
.page_ft-title{
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 30px;
    font-family: 'utm-caviar';
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.item-question{
    padding-bottom: 20px;
    position: relative;
    padding-left: 60px;
    min-height: 90px;
    
}
.item-question .stt-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 39px;
    height: 47px;
    /* background: url(../imgs/1.png) center center no-repeat; */
    font-size: 16px;
    color: #777;
    text-align: center;
    line-height: 39px;
}
.list-question .item-question:nth-child(even) .stt-icon{
    /* background: url(../imgs/2.png) center center no-repeat; */
}

.item-question-title{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    cursor: pointer;
}
.item-question-title span{
    font-family: system-ui;
    font-weight: 300;

}
.item-question-title .title{
    max-width: 80%;
}

.item-answer{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    padding-bottom: 10px;
    width: 70%;
    text-align: justify;
    padding: 10px 0;
    line-height: 1.8;
    color: #555;
    display: none;
}
.item-answer.active{
    display: block;
}

.show-answer, .hide-answer{
    font-size: 18px;
    display: none;
}
.show-answer.active, .hide-answer.active{
    display: block;
}

.faq-topic-question{
    text-align: center;
    font-size: 22px;
    font-style: italic;
    color: #999;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
}

.question{
    padding: 40px 0;
}

.box-take-number{
    font-size: 18px;
    text-align: justify;
}
.box-take-number .heading{
    font-family: system-ui;
    font-weight: 300;
    text-align: justify;
}
.box-take-number .image{
    padding: 20px 0;
}
.box-take-number .entry-content p{
    padding-bottom: 20px;
    padding-top: 10px;
    color: #555;
    font-family: "utm-alexander";
}
.box-take-number .entry-content img{
    width: 70%;
}
.box-take-number ul{
    list-style-type: disc;
    color: #555;
    padding-left: 20px;
    font-size: 14px;
}
.box-take-number ul li{
    padding-bottom: 20px;
    font-family: 'utm-caviar';
}
.box-take-number ul li span{
    font-size: 18px;
}
.box-take-number ul li span:last-child{
    font-family: system-ui;
}

.item-order{
    padding-bottom: 40px;
}
.item-order .title{
    font-size: 20px;
    font-style: italic;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}
.item-order .title::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: var(--primary-color);
    left: 0;
}
.item-order .desc{
    font-family: system-ui;
}
.item-order .content{
    font-family: system-ui;
    font-size: 18px;
    margin-top: 10px;
}
.item-order .content span{
    color: var(--primary-color);
    font-family: system-ui;
    font-weight: 500;
}

.item-order .content a{
    font-family: system-ui;
    font-style: italic;
}

.box-take-number .entry-content .entry-text{
    font-family: system-ui;
    line-height: 1.8;
    padding-top: 0;
}



/* Zoom in image */
.zoom_loaded-img{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    
}
.zoom_loaded-img.active{
    display: flex;
}
.loaded-title{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}
.loaded-title span{
    font-size: 16px;
    color: #ddd;
    padding: 10px 16px;
    display: block;
}
.loaded-content{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loaded-img.zoom-in{
    height: 88vh;
    width: auto;
    transform: scale(1.1);
}


.stories-item-link:hover{
    color: #000;
}
.stories-item-link .image{
    overflow: hidden;
}
.stories-item-link:hover .image img{
    transform: scale(1.02);
    transition: all 0.5s linear;
}
